In [8]:
#-------------------------single row insertion---------------------------------------------
import sqlite3
conn = sqlite3.connect("my_friends.db")
#insert into db

#cursor is temp workarea for sql comments
#create cursor object 
c = conn.cursor()
#execute some sql
#------------c.execute("CREATE TABLE abcde(firstname TEXT,lastname TEXT,closeness INTEGER);")----------table created
#-------------------------------------------------------------------------------------------------------------
#insert_query = '''INSERT INTO abcde VALUES("Divya" , "Gavandi", 9)'''------------------sql pattern inserting
#c.execute(insert_query)
#-----------------------------------------------------------------------------------------------------------


#-------------------------------------python pattern inserting-------------------------------------
data = ("Disha" , "Kotian", 9)
query = "INSERT INTO abcde VALUES(?,?,?)"
c.execute(query, data)
#commit changes
conn.commit()
#close connection
conn.close()

In [13]:
#-------------------------multiple bulk insertion ---------------------------------------------------------
import sqlite3
conn = sqlite3.connect("my_friends.db")

c = conn.cursor()
#-------------------------------------------inserting using excecutemany()------------------------1st way
people = [("Neelam","Gujar",8),
          ("Anjali","Parekal",6),
          ("Shubham","Shinde",5),
          ("Adtit","Choukekar",9),
          ("Omkar","shevkar",10)]
query = "INSERT INTO abcde VALUES(?,?,?)"
c.executemany(query,people)
#------------------------------------------------------uing for--------------------------------------2nd way
average = 0
for person in people:
    #c.execute(query,person)
    average += person[0]
print(average/len(people))

#------------------------------------------------------------------------------------------------------


#commit changes
conn.commit()
#close connection
conn.close()

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [28]:
import sqlite3
conn = sqlite3.connect("my_friends.db")

c = conn.cursor()
c.execute("SELECT * FROM abcde where closeness < 9 order by closeness desc")
#---------------------------------------------1st way
#for result in c:
#   print(result)
#---------------------------------------------
print(c.fetchall())#-------------------------for getting list printed----------------2nd way
conn.commit()
conn.close()

[('Neelam', 'Gujar', 8), ('Neelam', 'Gujar', 8), ('Anjali', 'Parekal', 6), ('Anjali', 'Parekal', 6), ('Shubham', 'Shinde', 5), ('Shubham', 'Shinde', 5)]

In [43]:
#------sql injection----------------------------------------

import sqlite3
conn = sqlite3.connect("users.db")


#c.execute("CREATE TABLE users(username TEXT, password TEXT);")

#ussey = [("Divya","d190399"),
#        ("Disha","best19"),
#        ("Palak","palak123"),]
#q = "INSERT INTO users VALUES(?,?)"


uname = input("Enter your username........")
pname = input("Plaease enter you password........")

#que = f"SELECT * FROM users where username = '{uname}' and password = '{pname}'"------------bad idea
c = conn.cursor()
que = f"SELECT * FROM users where username = ? and password = ?"
#c.execute(que)-------bad idea
c.execute(que,(uname,pname))
result = c.fetchone()

if(result):
    print("Login successfully")
else:
    print("Login failed")

#c.executemany(q,ussey)
conn.commit()
conn.close()

Enter your username........Divya
Plaease enter you password........' OR 1=1
Login failed

In [69]:
import sqlite3
import requests
from bs4 import BeautifulSoup


#Request url
response = requests.get("http://books.toscrape.com/catalogue/category/books/history_32/index.html")
soup = BeautifulSoup(response.text,"html.parser")
books = soup.find_all("article")
for book in books:
    title = book.find("h3").find("a")["title"]
    price = book.select(".price_color")[0].get_text()
   
    rat = {"Zero" : 0,"One" : 1,"Two" : 2,"Three" : 3,"Four" : 4, "Five" : 5 ,"Six" : 6,"Seven" : 7,"Eight" : 8, "Nine" : 9}
    para = book.select(".star-rating")[0]
    rating = para.get_attribute_list("class")[-1]
    int_rating = rat[rating]
    print(int_rating)
    
    
    
    #print(float(price.replace("£","").replace("Â","")))
    #print(book.find("h3").find("a")["title"])
    #print(book.select(".price_color")[0].get_text())



#Intiialise bs
#Extract data we want
#Save data to database

5
1
1
2
1
3
3
3
3
5
5
2
4
5
4
2
2
2

In [71]:
#----------------------divided in functions-----------------------------------------
import sqlite3
import requests
from bs4 import BeautifulSoup


def scrape_book(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text,"html.parser")
    books = soup.find_all("article")
    all_books = []
    for book in books: 
        book_data = (get_title(book),get_price(book),get_rating(book))
        all_books.append(book_data)
    print(all_books)

def get_title(book):
    return book.find("h3").find("a")["title"]
    
def get_price(book):
    price = book.select(".price_color")[0].get_text()
    return float(price.replace("£","").replace("Â",""))
    
def get_rating(book):
    
    rat = {"Zero" : 0,"One" : 1,"Two" : 2,"Three" : 3,"Four" : 4, "Five" : 5 ,"Six" : 6,"Seven" : 7,"Eight" : 8, "Nine" : 9}
    para = book.select(".star-rating")[0]
    word = para.get_attribute_list("class")[-1]
    return rat[word]


scrape_book("http://books.toscrape.com/catalogue/category/books/history_32/index.html")

[('Sapiens: A Brief History of Humankind', 54.23, 5), ('Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink', 25.52, 1), ('The Age of Genius: The Seventeenth Century and the Birth of the Modern Mind', 19.73, 1), ('Political Suicide: Missteps, Peccadilloes, Bad Calls, Backroom Hijinx, Sordid Pasts, Rotten Breaks, and Just Plain Dumb Mistakes in the Annals of American Politics', 36.28, 2), ('Thomas Jefferson and the Tripoli Pirates: The Forgotten War That Changed American History', 59.64, 1), ('Zealot: The Life and Times of Jesus of Nazareth', 24.7, 3), ('A Distant Mirror: The Calamitous 14th Century', 14.58, 3), ('1491: New Revelations of the Americas Before Columbus', 21.8, 3), ('Brilliant Beacons: A History of the American Lighthouse', 11.45, 3), ('"Most Blessed of the Patriarchs": Thomas Jefferson and the Empire of the Imagination', 44.48, 5), ('A Short History of Nearly Everything', 52.4, 5), ('The Rise and Fall of the Third Reich: A History of Nazi Germany', 39.67, 2), ('Catherine the Great: Portrait of a Woman', 58.55, 4), ("The Mathews Men: Seven Brothers and the War Against Hitler's U-boats", 42.91, 5), ('The Hiding Place', 55.91, 4), ("America's War for the Greater Middle East: A Military History", 51.22, 2), ('The Guns of August', 14.54, 2), ('House of Lost Worlds: Dinosaurs, Dynasties, and the Story of Life on Earth', 43.7, 2)]

In [78]:
#----------------------divided in functions-----------------------------------------
import sqlite3
import requests
from bs4 import BeautifulSoup


def scrape_book(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text,"html.parser")
    books = soup.find_all("article")
    all_books = []
    for book in books: 
        book_data = (get_title(book),get_price(book),get_rating(book))
        all_books.append(book_data)
    save_data(all_books)

    
def save_data(all_books):
    conn = sqlite3.connect("books.db")
    c = conn.cursor()
    #c.execute('''CREATE TABLE b(title TEXT, price REAL,rating INTEGER)''')
    c.executemany("INSERT INTO books VALUES(?,?,?)",all_books)
    conn.commit()
    conn.close()
    

def get_title(book):
    return book.find("h3").find("a")["title"]
    
def get_price(book):
    price = book.select(".price_color")[0].get_text()
    return float(price.replace("£","").replace("Â",""))
    
def get_rating(book):
    
    rat = {"Zero" : 0,"One" : 1,"Two" : 2,"Three" : 3,"Four" : 4, "Five" : 5 ,"Six" : 6,"Seven" : 7,"Eight" : 8, "Nine" : 9}
    para = book.select(".star-rating")[0]
    word = para.get_attribute_list("class")[-1]
    return rat[word]


scrape_book("http://books.toscrape.com/catalogue/category/books/history_32/index.html")