In [8]:
#-------------------------single row insertion---------------------------------------------
import sqlite3
conn = sqlite3.connect("my_friends.db")
#insert into db

#cursor is temp workarea for sql comments
#create cursor object 
c = conn.cursor()
#execute some sql
#------------c.execute("CREATE TABLE abcde(firstname TEXT,lastname TEXT,closeness INTEGER);")----------table created
#-------------------------------------------------------------------------------------------------------------
#insert_query = '''INSERT INTO abcde VALUES("Divya" , "Gavandi", 9)'''------------------sql pattern inserting
#c.execute(insert_query)
#-----------------------------------------------------------------------------------------------------------


#-------------------------------------python pattern inserting-------------------------------------
data = ("Disha" , "Kotian", 9)
query = "INSERT INTO abcde VALUES(?,?,?)"
c.execute(query, data)
#commit changes
conn.commit()
#close connection
conn.close()

In [13]:
#-------------------------multiple bulk insertion ---------------------------------------------------------
import sqlite3
conn = sqlite3.connect("my_friends.db")

c = conn.cursor()
#-------------------------------------------inserting using excecutemany()------------------------1st way
people = [("Neelam","Gujar",8),
          ("Anjali","Parekal",6),
          ("Shubham","Shinde",5),
          ("Adtit","Choukekar",9),
          ("Omkar","shevkar",10)]
query = "INSERT INTO abcde VALUES(?,?,?)"
c.executemany(query,people)
#------------------------------------------------------uing for--------------------------------------2nd way
average = 0
for person in people:
    #c.execute(query,person)
    average += person[0]
print(average/len(people))

#------------------------------------------------------------------------------------------------------


#commit changes
conn.commit()
#close connection
conn.close()

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [28]:
import sqlite3
conn = sqlite3.connect("my_friends.db")

c = conn.cursor()
c.execute("SELECT * FROM abcde where closeness < 9 order by closeness desc")
#---------------------------------------------1st way
#for result in c:
#   print(result)
#---------------------------------------------
print(c.fetchall())#-------------------------for getting list printed----------------2nd way
conn.commit()
conn.close()

[('Neelam', 'Gujar', 8), ('Neelam', 'Gujar', 8), ('Anjali', 'Parekal', 6), ('Anjali', 'Parekal', 6), ('Shubham', 'Shinde', 5), ('Shubham', 'Shinde', 5)]

In [43]:
#------sql injection----------------------------------------

import sqlite3
conn = sqlite3.connect("users.db")


#c.execute("CREATE TABLE users(username TEXT, password TEXT);")

#ussey = [("Divya","d190399"),
#        ("Disha","best19"),
#        ("Palak","palak123"),]
#q = "INSERT INTO users VALUES(?,?)"


uname = input("Enter your username........")
pname = input("Plaease enter you password........")

#que = f"SELECT * FROM users where username = '{uname}' and password = '{pname}'"------------bad idea
c = conn.cursor()
que = f"SELECT * FROM users where username = ? and password = ?"
#c.execute(que)-------bad idea
c.execute(que,(uname,pname))
result = c.fetchone()

if(result):
    print("Login successfully")
else:
    print("Login failed")

#c.executemany(q,ussey)
conn.commit()
conn.close()

Enter your username........Divya
Plaease enter you password........' OR 1=1
Login failed